*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family:'Jost';
    color: black;
}
section{
    padding: 50px 0;
}
a{
    text-decoration: none;
}
.default-text{
    color: rgba(100, 100, 106, 1);
    font-weight: 100;    
}
.defoult-butn{
    background-color: rgba(27, 27, 29, 1);
    border-radius: 63px;
    padding: 15px 30px;
    color: white;
    font-size: 15px;
    font-weight: 500;
}
.defoult-butn:hover{
    background-color: rgb(156, 156, 158);
    cursor: pointer;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}
h2{
    font-size: 64px;
}
h3{
    font-size: 36px;
}
header{
    background-color: rgba(238, 239, 241, 1);
    padding: 10px 5%;
}
.header-top{
    display: flex;
    justify-content: space-between;
    align-items: end;
    padding: 0 5%;
}
.logotyp__img{
    width: 126px;
    height: 50px;
}
.header__right-container{
    display: flex;
    align-items: center;
}
.header__menu{
    margin: 0 10px;
}

.header__menu a:hover{
    cursor: pointer;
    text-decoration: underline;
}

.menu__link{
    font-weight: 500;
    font-size: 15px;
    color: rgba(27, 27, 29, 1);
    margin: 0 10px;
}



.header__btn-busket{
    background-color: white;
    padding: 10px;
    border-radius: 50%;
    border-color: white;
    margin: 0 10px;
}

.burg-menu {
    max-width: 60px;
    border-color:rgba(238, 239, 241, 1);
    background-color: rgba(238, 239, 241, 1);
}
.top-screen{
    display: flex;
}
.tp-scr-left{
    width: 50%;
}
.tp-scr-h{
    font-weight: 800;
    font-size: 124px;
    line-height: 140px;
}
.tp-scr-description{
    margin: 10px 0 20px;
    font-size: 24px;
    line-height: 34.68px;
}
.shop-link{
    margin: 0 10px;
    text-decoration: underline;
    font-weight: 700;
    font-size: 18px;
    color:rgba(27, 27, 29, 1);
}
.tp-scr-right{
    position: relative;
}
.img-prize{
    position: absolute;
    right: 10px;
    top: 10px;
}
.rating-container{
    position: absolute;
    left: 5em;
    bottom: 15em;
    background-color: white;
    padding: 20px;
    border-radius: 10%;
}
main{
    padding: 0 5%;
}
.explore-text, .explore-h2{
    text-align: center;
    margin: 0 0 40px 0;
}
.explore-container-cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.explore-card{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    max-width: 330px;
    margin: 20px;
    padding: 20px;
    border-radius: 24px;
    box-shadow: 0px 5px 5px 5px rgb(223, 223, 223);
}

.explore h3{
    align-self: flex-start;
    font-weight: 600;
    line-height: 52.02px;
}
.explore-icon{
    margin: 20px 0; 
}
.order{
    display: flex;
}
.order-img{
    width: 100%;
}
.order-right{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: start;
}
.order-description{
   margin: 15px;
   font-size: 24px;
}
.comments{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.comments-h2{
    text-align: center;
}
.rating-comments-container{
    display: flex;
    margin: 20px 0;
}
.comments-mark{
    font-size: 40px;
    margin-right: 20px;
}

.comments-container-cards{
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
}
.comments-card{
    max-width: 350px;
    background-color: white;
    box-shadow: 0px 5px 5px 5px rgb(223, 223, 223);
    border-radius: 5%;
    margin: 20px;
}
.comments-avatars{
    border-radius: 5% 5%  0 0;
    max-width: 350px;
}
.card-content{
    padding: 20px;
}
.card-header{
    display: flex;
}
.card-name{
    font-size: 20px;
}
.star-box{
    margin-left: 10px;
}
.comments-description{
    margin: 20px 0;
}
.arrow-left:before{
    content: url('../img/arrow/arrow-left.png');
    margin-right: 10px;   
}
.arrow-right:after{
    content: url('../img/arrow/arrow-right.png');   
    margin-left: 10px;
}
footer{
    padding: 10px 5%;
    display: grid;
    grid-template-columns: 30% 30% 1fr;
    gap: 20px;
}
.footer-description{
    padding: 0 0;
}
.description-text{
    margin: 20px 0;
}
.footer__contacts{
   text-align: center; 
}
.contacts__phone{
    display: flex;
    align-items: center;
}
.contacts__icon{
    margin: 20px;
}
.stores-description{
    margin: 20px 0;
}
.stores-link{
    display: flex;
    align-items: center;
    gap: 5px;
}
#email-ipt{
    padding: 10px;
    border-radius: 65px;
    background-color: white;
    margin: 20px 0;
    border-color: white;
    box-shadow: 0 5px 5px 0 rgb(223, 223, 223);
    width: 100%;
}
.straight-line{
    grid-column: 1/4;
}
.straight-line hr{
    opacity: 10%;
}
.footer__btm-infrm:after{
    content: "|";
    margin: 0 5px;
    color: rgba(100, 100, 106, 1);
}

/**/


  .burger-menu-button{
    display: none;
  }
  